<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - MiVet Online</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            background-image: url('/img/fondo_veterinaria.png');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 100vh;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        div {
            width: 100%;
        }
    </style>
</head>
<body>
    <div>
        @RenderBody()

        @RenderSection("Scripts", required: false)
    </div>
</body>
</html>